/.vs/NinoBank/FileContentIndex
# Ignore all obj directories
NinoBank.Application/obj/
NinoBank.Domain/obj/
NinoBank.Infrastructure/obj/
NinoBank.WebApi/obj/

# Ignore the .vs/NinoBank/FileContentIndex directory
.vs/NinoBank/FileContentIndex/
/NinoBank.WebApi/obj/project.nuget.cache
/NinoBank.WebApi/bin/Debug/net8.0/NinoBank.Domain.dll
/NinoBank.WebApi/bin/Debug/net8.0/NinoBank.WebApi.dll
/NinoBank.WebApi/bin/Debug/net8.0/NinoBank.Infrastructure.dll
/NinoBank.WebApi/bin/Debug/net8.0/NinoBank.WebApi.exe
/.vs/NinoBank/DesignTimeBuild/.dtbcache.v2
/.vs/NinoBank/v17/.futdcache.v2
/.vs/NinoBank/v17/.suo
/.vs/ProjectEvaluation/ninobank.metadata.v7.bin
/.vs/ProjectEvaluation/ninobank.projects.v7.bin
/NinoBank.Application/bin/Debug/net8.0/NinoBank.Application.dll
/NinoBank.Application/bin/Debug/net8.0/NinoBank.Domain.dll
/NinoBank.Application/bin/Debug/net8.0/NinoBank.Application.pdb
/NinoBank.Application/bin/Debug/net8.0/NinoBank.Domain.pdb
/NinoBank.Application/bin/Debug/net8.0/NinoBank.Infrastructure.pdb
/NinoBank.Application/bin/Debug/net8.0/NinoBank.Infrastructure.dll
/NinoBank.Application/obj/Debug/net8.0/NinoBank.Application.AssemblyInfo.cs
/NinoBank.Application/obj/Debug/net8.0/NinoBank.Application.AssemblyInfoInputs.cache
/NinoBank.Application/obj/Debug/net8.0/NinoBank.Application.assets.cache
/NinoBank.Application/obj/Debug/net8.0/NinoBank.Application.csproj.AssemblyReference.cache
/NinoBank.Application/obj/Debug/net8.0/NinoBank.Application.dll
/NinoBank.Application/obj/Debug/net8.0/NinoBank.Application.pdb
/NinoBank.Application/obj/Debug/net8.0/NinoBank.Application.csproj.GenerateResource.cache
/NinoBank.WebApi/obj/Debug/net8.0/NinoBank.WebApi.dll
/NinoBank.WebApi/bin/Debug/net8.0/NinoBank.Application.dll
/NinoBank.Infrastructure/obj/NinoBank.Infrastructure.csproj.nuget.g.props
/NinoBank.Infrastructure/obj/Debug/net8.0/NinoBank.Infrastructure.AssemblyInfo.cs
/NinoBank.Infrastructure/obj/Debug/net8.0/NinoBank.Infrastructure.genruntimeconfig.cache
/NinoBank.WebApi/obj/project.assets.json
/NinoBank.Infrastructure/obj/project.assets.json
/NinoBank.Infrastructure/obj/Debug/net8.0/NinoBank.Infrastructure.pdb
/NinoBank.Infrastructure/obj/project.nuget.cache
/NinoBank.Infrastructure/obj/Debug/net8.0/NinoBank.Infrastructure.csproj.FileListAbsolute.txt
/NinoBank.Infrastructure/obj/Debug/net8.0/NinoBank.Infrastructure.sourcelink.json
/NinoBank.Infrastructure/obj/Debug/net8.0/NinoBank.Infrastructure.csproj.AssemblyReference.cache
/NinoBank.Infrastructure/obj/Debug/net8.0/NinoBank.Infrastructure.AssemblyInfoInputs.cache
/NinoBank.Infrastructure/obj/Debug/net8.0/NinoBank.Infrastructure.dll
/NinoBank.Infrastructure/obj/Debug/net8.0/NinoBank.Infrastructure.GeneratedMSBuildEditorConfig.editorconfig
/NinoBank.Infrastructure/obj/Debug/net8.0/NinoBank.Infrastructure.assets.cache
/NinoBank.Infrastructure/obj/NinoBank.Infrastructure.csproj.nuget.dgspec.json
/NinoBank.Infrastructure/obj/Debug/net8.0/NinoBank.Infrastructure.csproj.CoreCompileInputs.cache
/NinoBank.Infrastructure/obj/Debug/net8.0/ref/NinoBank.Infrastructure.dll
/NinoBank.Domain/obj/Debug/net8.0/ref/NinoBank.Domain.dll
/NinoBank.Domain/obj/Debug/net8.0/NinoBank.Domain.csproj.CoreCompileInputs.cache
/NinoBank.Infrastructure/bin/Debug/net8.0/NinoBank.Domain.dll
/NinoBank.Infrastructure/bin/Debug/net8.0/NinoBank.Domain.pdb
/NinoBank.WebApi/bin/Debug/net8.0/NinoBank.Domain.pdb
/NinoBank.WebApi/bin/Debug/net8.0/NinoBank.Infrastructure.pdb
/NinoBank.WebApi/bin/Debug/net8.0/NinoBank.WebApi.pdb
/NinoBank.Application/obj/Debug/net8.0/NinoBank.Application.csproj.CoreCompileInputs.cache
/NinoBank.Application/obj/Debug/net8.0/NinoBank.Application.csproj.FileListAbsolute.txt
/NinoBank.Application/obj/Debug/net8.0/NinoBank.Application.GeneratedMSBuildEditorConfig.editorconfig
/NinoBank.Application/obj/Debug/net8.0/NinoBank.Application.sourcelink.json
/NinoBank.Application/obj/NinoBank.Application.csproj.nuget.dgspec.json
/NinoBank.Application/obj/NinoBank.Application.csproj.nuget.g.props
/NinoBank.Application/obj/project.assets.json
/NinoBank.Application/obj/project.nuget.cache
/NinoBank.Domain/bin/Debug/net8.0/NinoBank.Domain.dll
*.txt
/NinoBank.Application/obj/Debug/net8.0/ref/NinoBank.Application.dll
/NinoBank.Domain/bin/Debug/net8.0/NinoBank.Domain.pdb
/NinoBank.Application/obj/Debug/net8.0/refint/NinoBank.Application.dll
/NinoBank.WebApi/obj/Debug/net8.0/ref/NinoBank.WebApi.dll
/NinoBank.WebApi/bin/Debug/net8.0/NinoBank.Application.pdb
/NinoBank.Infrastructure/bin/Debug/net8.0/NinoBank.Infrastructure.dll
/NinoBank.Infrastructure/bin/Debug/net8.0/NinoBank.Infrastructure.pdb
/NinoBank.Infrastructure/obj/Debug/net8.0/refint/NinoBank.Infrastructure.dll
